<!DOCTYPE html>
<html>
<head>
	<title>My Chat 3.0</title>
</head>
<body>

	<h1>Bienvenue sur le chat 3.0 !</h1>

<script src='/socket.io/socket.io.js'></script>
<script>
	var socket = io();
</script>
</body>
</html>